.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  margin-bottom: 30px;
}

.para {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.3;
  color: #222;
}
.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.missionvision {
  width: 30%;
   
}
.paras{
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 12px;
}

.desc {
  font-size: 15px;
  line-height: 1.7;
  color: #555;
}
.img {
  position: relative;
  width: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.imgdiv{
  height: 350px;
  border-radius: 30px;
  overflow: hidden;
}
.imgdiv img {
  width: 100%;
  height: 100%;
   object-fit:cover;
  transition: transform 0.5s ease;
}
.img:hover img{
  transform: scale(1.08);
}
.circle{
   
    position: absolute;
    background-color: white;
    bottom: -10px;
  border-radius:  30px 30px 0 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px 10px 9px 10px;
}
.dot{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: #FF300E;
}
.btn{
    background-color: #144196;
    padding: 10px 20px;
    border-radius: 50px;
    color: white;
    font-size: 15px;
    font-weight: 400;
}
.left{
    align-self: flex-start;
}
.right{
   align-self: flex-end;

}
@media screen and (max-width:576px){
  .container {
    margin-top: 30px;
  }
   .wrapper {
    width: 90%;
  }
  .para {
    font-size: 1.4rem;
    line-height: 1.4;
  }
  .content {
    flex-direction: column;
    gap: 25px;
  }

  .missionvision {
    width: 100%;
   
  }
  .paras {
    font-size: 18px;
  }

  .desc {
    font-size: 14px;
    line-height: 1.6;
  }
  .img{
    width: 100%;
  }
   .dot {
    width: 30px;
    height: 30px;
  }

  .btn {
    font-size: 0.8rem;
    padding: 8px 14px;
  }
}
@media (min-width:577px) and (max-width:768px){

.wrapper{
    width:90%;
}

.para{
    font-size:1.9rem;
}

.content{
    flex-direction:column;
    gap:35px;
}

.missionvision{
    width:100%;
}


.left,
.right{
    align-self:center;
   
}


.img{
    width:75%;    
    overflow:visible;
}


.imgdiv{
    height:320px;
}


.circle{
    bottom:0;
    left:50%;
    transform:translateX(-50%);
}


.dot{
    width:32px;
    height:32px;
}

.btn{
    font-size:14px;
    padding:9px 18px;
}

.paras{
    font-size:19px;
}

.desc{
    font-size:15px;
    line-height:1.7;
}

}
@media (min-width:769px) and (max-width:992px){

.wrapper{
    width:90%;
}

.para{
    font-size:2.1rem;
}

.content{
    flex-direction:column;
    gap:45px;
}


.missionvision{
    width:100%;
}


.left,
.right{
    align-self:center;
  
}


.img{
    width:60%;
    overflow:visible;
}


.imgdiv{
    height:340px;
}


.circle{
    bottom:0;
    left:50%;
    transform:translateX(-50%);
}


.dot{
    width:34px;
    height:34px;
}

.btn{
    font-size:15px;
    padding:10px 20px;
}

.paras{
    font-size:20px;
}

.desc{
    font-size:15px;
    line-height:1.7;
}

}
@media (min-width:993px) and (max-width:1200px){

.wrapper{
    width:90%;
}

.para{
    font-size:2.3rem;
}


.content{
    flex-direction:row;
    gap:30px;
    align-items:center;
}


.missionvision{
    width:32%;
    
}


.img{
    width:32%;
    overflow:visible; 
}


.imgdiv{
    height:360px;
}


.circle{
  width: 80%;
    bottom:0px;
    left:50%;
    transform:translateX(-50%);
    padding-bottom: 0;
}


.dot{
    width:35px;
    height:35px;
}

.btn{
    font-size:15px;
    padding:10px 22px;
}

.paras{
    font-size:20px;
}

.desc{
    font-size:15px;
    line-height:1.75;
}

}
