.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.wrapper{
    width: 80%;
}
.title{
      text-align: center;
  font-size: 2.2rem;
  font-weight: 700;
  color: #222;
  margin-bottom:15px;
}
.para{
    color: #25282B;
text-align: center;
line-height: 1.4;
}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 60px;
    margin-top: 50px;
}
.card{
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.img{
    width: 100%;
    overflow: hidden;
    border-radius: 30px;

}
.img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.desc{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.profileimg{
    height:70px;
    width:70px;
    overflow: hidden;
    border-radius: 50%;
}
.profileimg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.profilename{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.name1{
    margin: 0;
    font-size: 0.9rem;
    font-weight: 600;
}
.name2{
    margin: 0;
     font-size: 0.7rem;
}
.profilelink
{
   height:50px;
    width:50px;
   border-radius: 50%;
   background-color: #1676E7;
   display: flex;
   justify-content: center;
   align-items: center;
    font-size: 25px;
    color: aliceblue;
}
@media (max-width:576px){

.container{
    margin-top:60px;
}

.wrapper{
    width:90%;
}


.title{
    font-size:1.6rem;
}

.para{
    font-size:0.85rem;
}


.cards{
    grid-template-columns: 1fr;
    row-gap:40px;
    margin-top:35px;
}

.card{
    border-radius:22px;
}


.img{
    border-radius:22px;
}


.profileimg{
    height:55px;
    width:55px;
}


.name1{
    font-size:0.85rem;
}

.name2{
    font-size:0.65rem;
}

.profilelink{
    height:42px;
    width:42px;
}

}
@media (min-width:577px) and (max-width:768px){

.container{
    margin-top:70px;
}

.wrapper{
    width:90%;
}


.title{
    font-size:1.9rem;
}

.para{
    font-size:0.95rem;
}


.cards{
    grid-template-columns: 1fr;
    row-gap:50px;
    margin-top:40px;
}


.card{
    border-radius:26px;
}


.img{
    height:260px;
    border-radius:26px;
}


.profileimg{
    height:65px;
    width:65px;
}


.name1{
    font-size:1rem;
}

.name2{
    font-size:0.75rem;
}


.profilelink{
    height:48px;
    width:48px;
}

}
@media (min-width:769px) and (max-width:992px){

.container{
    margin-top:80px;
}

.wrapper{
    width:90%;  
}


.title{
    font-size:2rem;
}

.para{
    font-size:1rem;
}


.cards{
    grid-template-columns: repeat(2,1fr);
    column-gap:24px;
    row-gap:55px;
    margin-top:45px;
}


.card{
    border-radius:28px;
}


.img{
    height:270px;  
    border-radius:28px;
}


.profileimg{
    height:68px;
    width:68px;
}


.name1{
    font-size:1.05rem;
}

.name2{
    font-size:0.78rem;
}


.profilelink{
    height:50px;
    width:50px;
}

}
@media (min-width:993px) and (max-width:1200px){

.container{
    margin-top:90px;
}

.wrapper{
    width:90%;  
}

.title{
    font-size:2.1rem;
}

.para{
    font-size:1.05rem;
}


.cards{
    grid-template-columns: repeat(3,1fr);
    column-gap:26px;
    row-gap:58px;
    margin-top:48px;
}


.card{
    border-radius:30px;
}


.img{
    height:280px;  
    border-radius:30px;
}


.profileimg{
    height:70px;
    width:70px;
}

.name1{
    font-size:1.08rem;
}

.name2{
    font-size:0.8rem;
}

.profilelink{
    height:52px;
    width:52px;
}

}
