.container{
     display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   
    position: fixed;
    top: 3%;
    left: 0;
    z-index: 99999;
    background: rgba(255,255,255,0.55);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border-bottom: 1px solid rgba(255,255,255,0.3);
}
.wrapper{

    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
  width: 12%;
}
.logo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu {
  border: 1px solid rgba(20, 65, 150, 0.5);
  width: 46%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(8px);
}

.items {
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  cursor: pointer;
}


.items p {
  position: relative;
  z-index: 2;
  margin: 0;
  padding: 8px 16px;
  font-size: 15px;
  font-weight: 500;
  transition: color 0.3s ease;
}



.items{
  text-decoration:none;
  color:#000;
  font-size:15px;
  font-weight:500;
  padding:8px 16px;
  transition: color .25s ease;
}

.items:hover{
  color:#FF7A00;
}
.active{
  color:#FF7A00;
  font-weight:600;
}


.btn {
  background: #144196;
  padding: 15px 20px;
  border-radius: 60px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background 0.25s ease, transform 0.25s ease;
}

.btn p {
  margin: 0;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
}


.btn:hover {
  background: #0f3376;
}
.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: #144196;
}
.menuBtn {
  display: none;
}
 @media (max-width: 576px) {
  .container {
    top: 0;
    padding: 8px;
  }
  .wrapper {
    margin-top: 20px;
    width: 95%;
    position: relative;   
  }
  .logo {
    width: 34%;
  }
  .menu {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%) translateY(-15px);
    width: 100%;
    
    flex-direction: column;
    gap: 14px;
    padding: 22px;
    border-radius: 22px;
    background: #ffffff;
    box-shadow: 0 15px 40px rgba(0,0,0,0.15);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
  }
  .show {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(-50%) translateY(0);
  }
  .btn {
    display: none;
  }
  .hamburger {
    display: flex;
    align-items: center;
  }
  .items p {
    font-size: 15px;
    text-align: center;
  }
  .menuBtn {
  display: flex;
 
  justify-content: center;
  align-items: center;

  background: #144196;
  color: #fff;

  padding: 14px 20px;
  border-radius: 40px;
  margin-top: 10px;
  cursor: pointer;

  transition: background 0.3s ease;
}

.menuBtn p {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
}

.menuBtn:hover {
  background: #0f3376;
}

}
@media (min-width: 577px) and (max-width: 768px) {

  .container {
    top: 0;
    padding: 10px;
  }

  .wrapper {
    width: 90%;
    margin-top: 20px;
    position: relative;
  }

  .logo {
    width: 25%;
  }

  
  .menu {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%) translateY(-15px);

    width: 100%;
    

    flex-direction: column;
    gap: 16px;
    padding: 24px;

    border-radius: 22px;
    background: #ffffff;
    box-shadow: 0 15px 40px rgba(0,0,0,0.15);

    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
  }

  .show {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(-50%) translateY(0);
  }

  .btn {
    display: none;
  }

  .hamburger {
    display: flex;
    align-items: center;
    font-size: 32px;
  }

  .items p {
    font-size: 16px;
    text-align: center;
  }
  .menuBtn {
  display: flex;
  justify-content: center;
  align-items: center;

  background: #144196;
  color: #fff;

  padding: 14px 25px;
  border-radius: 40px;
  margin-top: 10px;
  cursor: pointer;

  transition: background 0.3s ease;
}

.menuBtn p {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
}

.menuBtn:hover {
  background: #0f3376;
}

}

 @media (min-width: 769px) and (max-width: 992px){

  .container{
    top: 4%;
    padding: 10px;
  }

  .wrapper{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }

  
  .logo{
    width: 130px;
    min-width: 110px;
  }

  .menu{
   
    width: auto;           
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;

    padding: 8px 14px;       
    border-radius: 40px;
  }

  
  .items{
    white-space: nowrap;
    font-size: 13px;
    padding: 6px 10px;
  }

 
  .btn{
    padding: 10px 14px;
    border-radius: 40px;
  }

  .btn p{
    font-size: 13px;
    white-space: nowrap;
  }
  .hamburger{
    display: none;
  }

}
@media (min-width: 993px) and (max-width: 1200px){

  .container{
    top: 3%;
    padding: 12px;
  }

  .wrapper{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  
  .logo{
    width: 150px;
    min-width: 130px;
  }

  
  .menu{
    
    width: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: clamp(12px, 2vw, 22px); 
    padding: 10px 18px;

    border-radius: 50px;
  }

  
  .items{
    white-space: nowrap;
    font-size: 14px;
    padding: 8px 12px;
  }

  
  .btn{
    padding: 12px 18px;
    border-radius: 50px;
  }

  .btn p{
    font-size: 14px;
    white-space: nowrap;
  }

  .hamburger{
    display: none;
  }

}


