.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.wrapper{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title{
      text-align: center;
  font-size: 2.2rem;
  font-weight: 700;
  color: #222;
  margin-bottom:15px;
}
.para{
    color: #25282B;
text-align: center;
line-height: 1.4;
}
.cards{
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
}
.card{
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #FFBB0E;
}
.slider{
    margin-top: 40px;
    width: 100%;
}
.name{
    padding: 25px 0 0px 10px;
    color: white;
}
.stuname{
    margin-bottom:0.5em;
    font-size: 1.2rem;
    font-weight: 700;
}
.studesg{
    margin-bottom:0em;
    font-size: 0.8rem;
}
.img{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end
}
.img img{
    height: 90%;
    width: 80%;
    object-fit: cover;
    object-position: center;
}
@media (max-width:576px){

.wrapper{
    width: 90%;   
}

.title{
    font-size: 1.6rem;
}

.para{
    font-size: 0.8rem;
}
.card{
    width: 80%;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #FFBB0E;
}
.img{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end
}
.img img{
    width: 70%;
}
}
@media (min-width:577px) and (max-width:768px){

.wrapper{
    width: 90%;
}


.title{
    font-size: 1.8rem;
}

.para{
    font-size: 0.9rem;
}


.card{
    width: 100%;   
    border-radius:24px;
}


.img{
    height:260px;
}

.img img{
    width:75%;
}


.stuname{
    font-size:1.05rem;
}

.studesg{
    font-size:0.78rem;
}


.slider{
    margin-top:30px;
}

.container{
    margin-top:70px;
}

}
@media (min-width:769px) and (max-width:992px){

.wrapper{
    width: 90%;
}


.title{
    font-size: 2rem;
}


.para{
    font-size: 0.95rem;
}


.card{
    width:100%;   
    border-radius:26px;
}


.img{
    height:280px;
}

.img img{
    width:78%;
}


.stuname{
    font-size:1.1rem;
}

.studesg{
    font-size:0.8rem;
}


.slider{
    margin-top:35px;
}

.container{
    margin-top:80px;
}

}
@media (min-width:993px) and (max-width:1200px){

.wrapper{
    width: 85%;   
}


.title{
    font-size: 2.1rem;
}


.para{
    font-size: 1rem;
}


.card{
    width:100%;
    border-radius:28px;
}


.img{
    height:290px;
}

.img img{
    width:80%;
}


.stuname{
    font-size:1.15rem;
}

.studesg{
    font-size:0.82rem;
}


.slider{
    margin-top:38px;
}

.container{
    margin-top:90px;
}

}
