.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title{
      text-align: center;
  font-size: 2.2rem;
  font-weight: 700;
  color: #222;
  margin-bottom:15px;
}
.para{
    color: #25282B;
text-align: center;
line-height: 1.4;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    gap: 30px;
    margin-top: 50px;
}
.card{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.para1{
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: black;
  text-align: center;
  padding-bottom: 10px;
}

.para2{
  font-size: 0.8rem;
  color: #555;
  line-height: 1.4;
  text-align: center;
  height: 40px;

}
.paraGreen{
    border-bottom: 2px solid #A8E0C2;
}
.paraRed{
    border-bottom: 2px solid #F6B38E
;
}
.cardcenter{
    gap: 20px;
}
.img{
    width: 100%;
    height: 200px;
    border-radius: 30px;
    overflow: hidden;
}
.img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
@media (max-width: 576px) {

  .wrapper {
    width: 90%;
  }

  .title {
    font-size: 1.2rem;
  }

  .para {
    font-size: 0.rem;
  }

  .content {
    width: 100%;
    flex-direction: column;
    gap: 40px;
    margin-top: 30px;
  }

  .card {
    width: 100%;
    gap: 15px;
  }

  .para1 {
    font-size: 0.95rem;
  }

  .para2 {
    font-size: 0.8rem;
    height: auto; 
  }

  .img {
    height: 200px;
    border-radius: 20px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {

  .wrapper {
    width: 90%;
  }

  .title {
    font-size: 1.5rem;
  }

  .para {
    font-size: 0.95rem;
  }

  .content {
    width: 100%;
    flex-direction: column;   
    gap: 40px;
    margin-top: 35px;
  }

  .card {
    width: 100%;
    gap: 15px;
  }

  .para2 {
    height: auto;
  }

  .img {
    height: 220px;
    border-radius: 25px;
  }
}
@media (min-width: 769px) and (max-width: 992px) {

  .wrapper {
    width: 90%;
  }

  .title {
    font-size: 1.9rem;
  }

  .para {
    font-size: 1rem;
  }

  .content {
    width: 100%;
    flex-direction: row;   
    gap: 25px;
    margin-top: 40px;
  }

  .card {
    width: 100%;
    gap: 15px;
  }

  .para1 {
    font-size: 1rem;
  }

  .para2 {
    font-size: 0.85rem;
    height: auto;
  }

  .img {
    height: 220px;
    border-radius: 28px;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {

  .wrapper {
    width: 85%;
  }

  .title {
    font-size: 2.1rem;
  }

  .para {
    font-size: 1.05rem;
  }

  .content {
    width: 85%;
    gap: 30px;
    margin-top: 45px;
  }

  .card {
    gap: 18px;
  }

  .para1 {
    font-size: 1.05rem;
  }

  .para2 {
    font-size: 0.9rem;
    height: auto;
  }

  .img {
    height: 240px;
    border-radius: 30px;
  }
}
