.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.image{
    height: 400px;
    width: 40%;
    border-radius: 30px;
    overflow: hidden;
}
.image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.content{
    width: 50%;
    color: #555;
}